@import "../Config/base-import";
#enclosing2 {
  .main-content-con {
    @include breakpoint($bp-mobile-landscape-wide) {
      @include inlineTop;
      width: 70%;
    }
  }

  .sidebar {
    margin-bottom: 30px;


    .group-info {
      width: auto;
    }

    @include breakpoint($bp-mobile-landscape-wide) {
      @include inlineTop;
      width: 30%;
      padding-left: 20px;
    }
  }
}


.genform.invites {
  .group-view {
    .label {
      label {
        padding-left: 0;
      }
    }
  }
}