@import "../Config/base-import";

form {
  .entity-actions {
    margin-right: 10px;
    margin-bottom: 10px;

    &.actions {
      button.btn {
        margin: 0 5px 0 0;
      }
    }
  }
}

.entity-actions,
.search-bar {
  @include inlineMiddle;

  .actions {
    display: block;
    margin: 10px 5px 0 0;

    button.btn {
      float: none;
      margin: 0 5px 0 0;

      + button.btn {
        margin: 0;
      }
    }
  }

  @include breakpoint($bp-tablets-portrait) {
    .actions {
      @include inlineBottom;
      text-align: right;
      margin: 0;

      button.btn {
        margin: 0;

        + button.btn {
          margin-left: 5px;
        }
      }
    }
  }
}

.pages.controls {
  > a,
  > span {
    + span,
    + a {
      margin-left: 5px;
    }
  }
}

.mp-controls.controls {
  margin: 0 5px;
  a + a {
    margin-left: 5px;
  }
}


