@import "../Config/base-import";

#enclosing2 {
  .step-nav.menu {
    ul {
      .mi {
        .menuitemlabel {
          &.create-group {
            &:before {
              background: url("/_resources/dyn/files/32550zecf40517/_fn/cal-sprite-sm.png") top center no-repeat;
            }
          }
        }
      }
    }
  }

  .main-content-con {
    @include breakpoint($bp-tablets-portrait) {
      padding-right: 20px;
      @include inlineTop;
      width: 70%;
    }
  }

  .genform {
    &.invites {
      .group-view {
        .label {
          label {
            padding-left: 0;
          }
        }
        .invitee-list {
          .invitees {
            border-top: 0;
          }
        }
        .actions.bottom {
          display: none;
        }
      }
    }
    @include breakpoint($bp-tablets-landscape) {
      .select-actions {
        button {
          padding: 6px 10px;
        }
      }
    }
  }

  .public-client-logo {
    .name,
    .desc {
      display: block;
      width: auto;
    }
  }

  .sidebar {
    margin-bottom: 30px;

    .heading {
      p {
        @extend %sectionlabelclass;
      }
    }

    .event-view > div > label,
    .group-info-view label {
      font-size: 14px;
    }

    .cancel {
      button.btn {
        padding: 6px;
        @extend %cta_btn;
        background: $color-navy-blue;
      }
    }

    @include breakpoint($bp-tablets-portrait) {
      @include inlineTop;
      border-left: 1px solid $color-lighter-gray;
      width: 30%;
      padding-left: 20px;
    }
  }

  #body.track {
    .step-nav.menu {
      ul {
        .mi {
          .menuitemlabel {
            &.create-group {
              &:before {
                background: url("/_resources/dyn/files/32550zecf40517/_fn/cal-sprite-sm.png") bottom center no-repeat;
              }
            }
            &.track {
              &:before {
                background: url("/_resources/dyn/files/32552z2fa643b/_fn/track-sprite-sm.png") top center no-repeat;
              }
            }
          }
        }
      }
    }
  }
}