@import "../Config/base-import";
#header {
  .menu-comp {
    padding-right: 0;
  }
}
#body {
  span.email {
    vertical-align: middle;
  }
  input {
    width: auto;
  }

  button.submit {
    @extend %cta_btn;
    margin-top: $vertical-element-spacing;
  }
}